<app-loading *ngIf="isLoading"></app-loading>

<div *ngIf="!isLoading">
  <div nz-row>
    <div nz-col nzSpan="8">
      <button nz-button nzType="default" routerLink="/{{ target }}">
        <i class="anticon anticon-arrow-left"></i>
        <span i18n="@@txtBackToList">回列表</span>
      </button>
    </div>
    <div nz-col nzSpan="8">
      <h2 class="txt-page-title" [ngSwitch]="isCreateMode">
        <span *ngSwitchCase="true" i18n="@@txtAddProject">新增專案</span>
        <span *ngSwitchCase="false" i18n="@@txtUpdateProject">修改專案</span>
      </h2>
    </div>
  </div>
    
  <form [formGroup]="form">
    <nz-tabset [nzTabBarExtraContent]="extraTemplate">
      <nz-tab nzTitle="基本資訊" i18n-nzTitle="@@txtInformation">
        <nz-form-item>
          <nz-form-control [nzSm]="12" [nzXs]="24">
            <nz-form-item>
              <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="title" nzRequired i18n="@@txtTitle">名稱</nz-form-label>
              <nz-form-control [nzSm]="16" [nzXs]="24">
                <input nz-input id="title" formControlName="title" [(ngModel)]="project.title" placeholder="請輸入名稱" i18n-placeholder="@@txtPlaceholderTitle">
                <nz-form-explain *ngIf="form.get('title').dirty && form.get('title').errors" i18n="@@txtPlaceholderTitle">請輸入名稱</nz-form-explain>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="type" nzRequired i18n="@@txtType">類型</nz-form-label>
              <nz-form-control [nzSm]="16" [nzXs]="24">
                <nz-select id="type" formControlName="type" [(ngModel)]="project.type" nzAllowClear nzPlaceHolder="請選擇類型" i18n-nzPlaceHolder="@@txtPlaceholderType">
                  <nz-option nzLabel="桌面應用程式" nzValue="桌面應用程式" i18n-nzValue="@@txtDesktopApplication" i18n-nzLabel="@@txtDesktopApplication"></nz-option>
                  <nz-option nzLabel="網頁應用程式" nzValue="網頁應用程式" i18n-nzValue="@@txtWebApplication" i18n-nzLabel="@@txtWebApplication"></nz-option>
                </nz-select>
                <nz-form-explain *ngIf="form.get('title').dirty && form.get('title').errors" i18n="@@txtPlaceholderType">請選擇類型</nz-form-explain>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="url" i18n="@@txtUrl">網址</nz-form-label>
              <nz-form-control [nzSm]="16" [nzXs]="24">
                <input nz-input id="url" formControlName="url" [(ngModel)]="project.url" placeholder="請輸入網址" i18n-placeholder="@@txtUrl">
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="is_public" i18n="@@txtIsPublic">公開網址</nz-form-label>
              <nz-form-control [nzSm]="16" [nzXs]="24">
                <nz-radio-group id="is_public" formControlName="is_public" [(ngModel)]="project.is_public">
                  <label nz-radio nzValue="是" i18n-nzValue="@@txtYes" i18n="@@txtYes">是</label>
                  <label nz-radio nzValue="否" i18n-nzValue="@@txtNo" i18n="@@txtNo">否</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control [nzSm]="{ span: 16, offset: 4 }" [nzXs]="24">
                <nz-form-explain *ngIf="form.get('keywords').hasError('required')" i18n="@@txtAddKeywordAtLeast">請新增至少一組關鍵字</nz-form-explain>
                <nz-form-explain *ngIf="form.get('milestones').hasError('required')" i18n="@@txtAddMilestoneAtLeast">請新增至少一個里程碑</nz-form-explain>
                <nz-form-explain *ngIf="form.get('screens').hasError('required')" i18n="@@txtAddScreenAtLeast">請新增至少一張畫面</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </nz-form-control>
          
          <nz-form-control [nzSm]="12" [nzXs]="24">
            <nz-form-item>
              <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="description" i18n="@@txtDescription">簡介</nz-form-label>
              <nz-form-control [nzSm]="20" [nzXs]="24">
                <textarea nz-input id="udescriptionrl" formControlName="description" [(ngModel)]="project.description" rows="20" placeholder="請輸入簡介" i18n-placeholder="@@txtPlaceholderDescription"></textarea>
              </nz-form-control>
            </nz-form-item>
          </nz-form-control>
        </nz-form-item>
      </nz-tab>

      <nz-tab nzTitle="關鍵字" i18n-nzTitle="@@txtKeyword">
        <nz-form-item>
          <nz-form-control [nzSm]="12" [nzXs]="24">
            <app-keyword [keywords]="project.keywords" [form]="form" [builder]="builder"></app-keyword>
          </nz-form-control>
          <nz-form-control [nzSm]="{ span: 10, offset: 2 }" [nzXs]="24">
            <nz-card nzHoverable style="width:100%" [nzCover]="pnlProjectConver">
              <div>
                <h3>
                  <span *ngIf="project.title == null">[<span i18n="@@txtProjectTitle">專案名稱</span>]</span>
                  <span *ngIf="project.title != null">{{ project.title }}</span>
                </h3>
                <p>
                  <span *ngIf="project.type == null">[<span i18n="@@txtProjectType">專案類型</span>]</span>
                  <span *ngIf="project.type != null">{{ project.type }}</span>
                </p>
                <div>
                  <span *ngFor="let keyword of project.keywords">
                    <i class="anticon anticon-tag"></i>
                    {{ keyword.content }}
                  </span>
                </div>
              </div>
            </nz-card>
            <ng-template #pnlProjectConver>
              <img src="{{ (uploaded_list.length > 0 && uploaded_list[0].content != null) ? uploaded_list[0].content : 'assets/img/card.png' }}"/>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </nz-tab>

      <nz-tab nzTitle="里程碑" i18n-nzTitle="@@txtMilestone">
        <nz-form-item>
          <nz-form-control [nzSm]="12" [nzXs]="24">
            <app-milestone [milestones]="project.milestones" [form]="form" [builder]="builder"></app-milestone>
          </nz-form-control>
          <nz-form-control [nzSm]="{span:11,offset:1}" [nzXs]="24" nzAlign="middle">
            <nz-timeline>
              <nz-timeline-item *ngFor="let milestone of project.milestones; let i = index">
                <p>
                  <span *ngIf="milestone.datetime == null">[<span i18n="@@txtTime">時間</span>]</span>
                  <span *ngIf="milestone.datetime != null">{{ milestone.datetime | date:'yyyy-MM-dd' }}</span>
                </p>
                <p>
                  <span *ngIf="milestone.description == null">[<span i18n="@@txtDescription">敘述</span>]</span>
                  <span *ngIf="milestone.description != null">{{ milestone.description }}</span>
                </p>
              </nz-timeline-item>
            </nz-timeline>
          </nz-form-control>
        </nz-form-item>
      </nz-tab>

      <nz-tab nzTitle="畫面截圖" i18n-nzTitle="@@txtScreen">
        <nz-form-item>
          <nz-form-control [nzSm]="12" [nzXs]="24">
            <app-screen [screens]="project.screens" [uploaded_list]="uploaded_list" [form]="form" [builder]="builder" (removeScreen)="removeScreen($event)"></app-screen>
          </nz-form-control>
          <nz-form-control [nzSm]="12" [nzXs]="24">
            <nz-carousel nzAutoPlay [nzEffect]="'scrollx'">
              <div nz-carousel-content *ngFor="let screen of project.screens; let i = index">
                <img src="{{ (uploaded_list[i].content != null) ? uploaded_list[i].content : 'assets/img/card.png' }}">
                <h3>
                  <span *ngIf="screen.title == null">[<span i18n="@@txtTitle">標題</span>]</span>
                  <span *ngIf="screen.title != null">{{ screen.title }}</span>
                </h3>
              </div>
            </nz-carousel>
          </nz-form-control>
        </nz-form-item>
      </nz-tab>
    </nz-tabset>

    <ng-template #extraTemplate>
      <button nz-button nzType="primary" type="button" (click)="submit()">
        <i class="anticon anticon-save"></i>
        <span i18n="@@txtSave">儲存</span>
      </button>
    </ng-template>
  </form>
</div>