<div nz-row>
  <div nz-col nzSpan="8">
    <button nz-button nzType="default" routerLink="/{{ target }}/create">
      <i class="anticon anticon-plus"></i>
      <span i18n>新增</span>
    </button>
  </div>
  <div nz-col nzSpan="8">
    <h2 i18n class="txt-page-title">技能列表</h2>
  </div>
</div>

<nz-table 
  #pnlTable
  [nzData]="dataSet" 
  [nzLoading]="isLoading"
  [nzShowSizeChanger]="true"
  [nzPageSizeOptions]="[ 5, 10, 15 ]">
  <thead>
    <tr>
      <th i18n>類別</th>
      <th i18n>名稱</th>
      <th i18n>程度</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of pnlTable.data">
      <td>{{ data.skill.catelog }}</td>
      <td>{{ data.skill.name }}</td>
      <td>{{ data.skill.percentage }}</td>
      <td>
        <button nz-button nzType="default" nzSize="small" routerLink="/{{ target }}/edit/{{ data.$key }}">
          <i class="anticon anticon-edit"></i>
          <span i18n>修改</span>
        </button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="danger" nzSize="small" 
          nz-popconfirm (nzOnConfirm)="delete(data.$key)"  nzTitle="確定要刪除嗎？" i18n-nzTitle>
          <i class="anticon anticon-delete"></i>
          <span i18n>刪除</span>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>