<p>
  <button nz-button nzType="default" routerLink="/{{ target }}/create">
    <i class="anticon anticon-plus"></i>
    <span>新增</span>
  </button>
</p>

<h2>技能列表</h2>

<nz-table 
  #pnlSkill
  [nzData]="dataSet" 
  [nzLoading]="isLoading"
  [nzShowSizeChanger]="true"
  [nzPageSizeOptions]="[ 5, 10, 15 ]">
  <thead>
    <tr>
      <th>分類</th>
      <th>名稱</th>
      <th>程度</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of pnlSkill.data">
      <td>{{ data.skill.catelog }}</td>
      <td>{{ data.skill.name }}</td>
      <td>{{ data.skill.percentage }}</td>
      <td>
        <button nz-button nzType="default" nzSize="small" routerLink="/{{ target }}/edit/{{ data.$key }}">
          <i class="anticon anticon-edit"></i>
          <span>修改</span>
        </button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="danger" nzSize="small" nz-popconfirm nzTitle="確定要刪除嗎？" (nzOnConfirm)="delete(data.$key)">
          <i class="anticon anticon-delete"></i>
          <span>刪除</span>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>