<nz-layout>
  <nz-sider nzCollapsible  [(nzCollapsed)]="isCollapsed" [nzCollapsedWidth]="0" [nzBreakpoint]="'lg'">
    <div *ngIf="afAuth.authState | async; let user">
      <div class="logo">
        <a routerLink="">
          <img src="assets/img/banner.png">
        </a>
      </div>
      <ul nz-menu [nzMode]="'inline'" nzTheme='dark' [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu>
          <span title>
            <i class="anticon anticon-user"></i>
            <span>履歷</span>
          </span>
          <ul>
            <li nz-menu-item routerLink="introduction">個人資料</li>
            <li nz-menu-item routerLink="certification">證照</li>
            <li nz-menu-item routerLink="education">學歷</li>
            <li nz-menu-item routerLink="experience">經歷</li>
            <li nz-menu-item routerLink="skill">技能</li>
          </ul>
        </li>
        <li nz-menu-item nz-tooltip nzPlacement="right" routerLink="project">
          <span title>
            <i class="anticon anticon-code"></i>
            <span>專案</span>
          </span>
        </li>
        <li nz-menu-item (click)="logout()">
            <span>
              <i class="anticon anticon-logout"></i>
              <span class="nav-text">登出</span>
            </span>
          </li>
      </ul>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div nz-row *ngIf="afAuth.authState | async">
        <div nz-col [nzXs]="12" [nzSm]="16">
          <i class="anticon trigger" 
            [class.anticon-menu-fold]="!isCollapsed" 
            [class.anticon-menu-unfold]="isCollapsed" 
            (click)="isCollapsed=!isCollapsed"></i>
        </div>
        <div nz-col [nzXs]="12" [nzSm]="8">
          <div *ngIf="afAuth.authState">
            <nz-select [(ngModel)]="language" (ngModelChange)="redirect()">
              <nz-option nzValue="en-US" nzLabel="English"></nz-option>
              <nz-option nzValue="zh-TW" nzLabel="中文"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div>
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Wind &copy; {{ current | date:'yyyy' }}</nz-footer>
  </nz-layout>
</nz-layout>