<div nz-row>
  <div nz-col nzSpan="8">
    <button nz-button nzType="default" routerLink="/{{ target }}">
      <i class="anticon anticon-arrow-left"></i>
      <span>回列表</span>
    </button>
  </div>
  <div nz-col nzSpan="8">
    <h2 class="txt-page-title" [ngSwitch]="isCreateMode">
      <span *ngSwitchCase="true">新增學歷</span>
      <span *ngSwitchCase="false">修改學歷</span>
    </h2>
  </div>
</div>
  
<form [formGroup]="form" (ngSubmit)="submit()">
  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="level">學歷</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input id="level" formControlName="level" [(ngModel)]="education.level" placeholder="請輸入學歷">
      <nz-form-explain *ngIf="form.get('level').dirty && form.get('level').errors">請輸入學歷</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="school">學校</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input id="school" formControlName="school" [(ngModel)]="education.school" placeholder="請輸入學校">
      <nz-form-explain *ngIf="form.get('school').dirty && form.get('school').errors">請輸入學校</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="department">科系</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input id="department" formControlName="department" [(ngModel)]="education.department" placeholder="請輸入科系">
      <nz-form-explain *ngIf="form.get('department').dirty && form.get('department').errors">請輸入科系</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  
  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="major">主修</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input nz-input id="major" formControlName="major" [(ngModel)]="education.major" placeholder="請輸入主修">
      <nz-form-explain *ngIf="form.get('major').dirty && form.get('major').errors">請輸入主修</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="start">始業</nz-form-label>
    <nz-form-control [nzSm]="4" [nzXs]="24">
      <nz-month-picker id="start" formControlName="start" [(ngModel)]="education.start"></nz-month-picker>
      <nz-form-explain *ngIf="form.get('start').dirty && form.get('start').errors">請輸入始業</nz-form-explain>
    </nz-form-control>

    <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="end">畢業</nz-form-label>
    <nz-form-control [nzSm]="4" [nzXs]="24">
      <nz-month-picker id="end" formControlName="end" [(ngModel)]="education.end"></nz-month-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSm]="{ span: 20, offset: 4 }" [nzXs]="{ span: 24, offset: 0 }">
      <button nz-button nzType="primary">
        <i class="anticon anticon-save"></i>
        <span>儲存</span>
      </button>
    </nz-form-control>
  </nz-form-item>
</form>