<div nz-row>
  <div nz-col nzSpan="8">
    <button nz-button nzType="default" routerLink="/{{ target }}/create">
      <i class="anticon anticon-plus"></i>
      <span i18n="@@txtCreate">新增</span>
    </button>
  </div>
  <div nz-col nzSpan="8">
    <h2 class="txt-page-title" i18n="@@txtEducationList">學歷列表</h2>
  </div>
</div>

<nz-table 
  #pnlTable
  [nzData]="dataSet" 
  [nzLoading]="isLoading"
  [nzShowSizeChanger]="true"
  [nzPageSizeOptions]="[ 5, 10, 15 ]">
  <thead>
    <tr>
      <th i18n="@@txtEducation">學歷</th>
      <th i18n="@@txtSchool">學校</th>
      <th i18n="@@txtMajor">主修</th>
      <th i18n="@@txtStart">始業</th>
      <th i18n="@@txtEnd">畢業</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of pnlTable.data">
      <td>{{ data.education.level }}</td>
      <td>{{ data.education.school }}</td>
      <td>{{ data.education.major }}</td>
      <td>{{ data.education.start }}</td>
      <td>{{ data.education.end }}</td>
      <td>
        <button nz-button nzType="default" nzSize="small" routerLink="/{{ target }}/edit/{{ data.$key }}">
          <i class="anticon anticon-edit"></i>
          <span i18n="@@txtEdit">修改</span>
        </button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="danger" nzSize="small" 
          nz-popconfirm (nzOnConfirm)="delete(data.$key)" nzTitle="確定要刪除嗎？" i18n-nzTitle="@@txtDeleteConfirm">
          <i class="anticon anticon-delete"></i>
          <span i18n="@@txtDelete">刪除</span>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>